<div>
    <form action="./writepost" method="post">
        Title:<br>
        <input type="text" name="title"><br>
        Content:<br>
        <input type="text" name="content">
        <input type="submit" value="Submit">
    </form>
</div>

<!-- *** still need to add submit form function -->
